<!DOCTYPE html>
<html>
<head>
    <title>English Dictionary</title>
    <link rel="stylesheet" href="../public/style/home.css">
</head>
<body>
    <div class="container">
        <a href="/logout" class="link-button">Logout</a>
        <h1 class="heading">English Dictionary</h1>
        <input placeholder="Search a word" type="text" class="input" id="input">
        <p class="info-text" id="info-text">Type a word & press Enter</p>
        <div class="meaning-container" id="meaning-container">
            <p>Word title:<span class="title" id="title">________ </span></p>
            <p>Meaning:<span class="meaning" id="meaning">________</span></p>
            <p>Example:<span class="example" id="example">________</span></p>
            <audio src=""controls id="audio"></audio>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>